div.box1{
    text-align: center;
    
}
div.tiktok{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
     display: inline-block;
     transition: 0.3s;
     cursor :pointer;
     
}
i{
    font-size: 50px;
    margin: 13px;
    
}
h4{
    margin: 0%;
}
div.github{  
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;
}
div.youtube{    
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;
}
div.box2{
    text-align: center;
}
div.Instagram{
    
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;

}
div.Facebook{    
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;
}
div.Twitter{
    
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;

}
div.box3{
    text-align: center;
}
div.snapchat{
    
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;

}
div.message{
    
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;

}
div.call{
    
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 3px black;
    margin: 8px;
    display: inline-block;

}

div.bigbox{
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
     background-size: 300% 300%;
     animation: color 12s ease-in-out infinite;
    /* background-image: linear-gradient(to bottom right,rgb(160, 159, 159),black); */
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    width: 400px;
    margin: 20px auto;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


